* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #fff;
    margin: auto;
    padding: auto;
    font-family: Helvetica;
}

.wrap {
    width: auto;
    margin: auto;
}

#logo {
    height: 150px;
    width: 65%;
    margin: 10px 5px 0px;
}

#navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a4671;
    border-radius: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    /*layout index*/
}

li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
}


li a:hover

/*hover over*/
    {
    background-color: #0E9500;
    border-radius: 15px;
}

#dropbutton a {
    text-decoration: none;
    font-size: 20;
}

#searchbar {
    height: 64px;
    width: 225px;
    background-color: #2a4671;
    color: white;
    padding-left: 10px;
    border: 0;

}

.phonehome {
    width: 33.33%;
    float: left;

}

.phonehome img {

    width: 100%;
}

footer {
    clear: both;
}

.photo3 {
    margin: 0 auto;
    display: block;
}

.phonehome h2,
.photo3 h2 {
    text-align: center;
}


.mainproduct {
    display: inline-block;
    width: 30%;
    float: left;
}

S .mainproduct img {
    width: 100%;

}

.mainspec {
    width: 600px;
    float: right;
}

.mainspec h2 {
    text-align: left;
}

.phone-row {
    width: 100%;
    margin-top: 100px;
}

th {
    padding: 15px;
    border: 1px solid black;
    background-color: #ccc;
}

td {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

#payment {
    width: 100%;

}

#paymentrow {
    display: inline-block;
    vertical-align: top;
}

#paymentrow fieldset {
    margin: 10px;
    width: 250px;
    height: 300px;
}

#telfax {
    text-align: center;
}

#fb {
    text-align: center;
}

#faq {
    list-style: none;
}

#faq a {
    color: black;
}

#faq a:hover {
    color: white;
}

.phonehome h2 {
    margin-top: 75px;
}

/*----------------------------------Contact form-------------------------------*/

.info p {
    text-align: center;
    color: #999;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2px
}

.info i {
    color: #F6AA93;
}

form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: left
}

form {
    border-radius: 5px;
    max-width: auto;
    width: 95%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color: #333;
}

/*
h1 {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
*/
input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

/*
a {
  text-decoration:inherit
}
*/
textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 250px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 42px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

i {
    color: #554;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact {
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 100%;
    border: 0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}

.leftcontact {
    width: 49.5%;
    float: left;
    border-right: 1px dotted #CCC;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width: 49.5%;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: #DE5959;
}

#sendmessage {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,
.show {
    display: block;
}
